.list-container{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 15px;
    width: 48%;
    min-width: 300px;
    border-radius: 15px;
    border: 1px solid darkgray;
    overflow: hidden;
    overflow-y: auto;
    margin-right: 20px;
}

.list-header-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
