.navbar-container{
    display: flex;
    flex-flow: column nowrap;
    background-color: aliceblue;
    border-radius: 20px;
    width: 240px;
    margin: 20px;
    padding: 20px;
    height: calc(100vh - 80px);
    font-family: "Passion One", sans-serif;
    font-size: 32px;
}

.navbar-dashboard-link{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: flex-start;
    height: 45px;
}

.navbar-dashboard-text{
    padding: 0;
    margin: 0 0 0 5px;
}

.navbar-link{
    color: black !important;
    text-decoration: none !important;
}