.notes-container{
    width: 100%;
    margin-left: 20px;
}

.notes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 98%;
    height: 93%;
}

.notes-header{
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-content: center;
     width: 98%;
 }

.notes-category-title-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.notes-category-color{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
}

.notes-add-btn:hover{
     cursor: pointer;
 }